.navbar{
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top:1rem;
}
h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
}